:root {
    --color-primary: #F5E3CD;
    --color-secondary: #FEF3E7;
    --color-secondary2: #fcf7f2;
    --color-tertiary: #9E5B08;
    --color-text: #703803;
    --color-text2: #502803;
  
  }